section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

body {
  padding-top: 56px;
}

.contact-form {
  margin: 6em 0;
  position: relative;
}

.contact-form .right .btn-secondary {
  background: rgb(26, 173, 60);
  color: #fff;
  border: 0;
}

.contact-form .right .form-control::placeholder {
  color: #888;
  font-size: 16px;
}